<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<div class="container">
  <h1 class="display-2 text-center mt-4 mb-5">Cobras Check-In System</h1>

  <div class="row">
    <div class="col-6 mt-4">
      <a class="btn btn-block btn-success py-2" href="/in">
        <h1 class="text-white display-3">
          Punch In
        </h1>
      </a>
    </div>
    <!-- <div class="col-2">

    </div> -->
    <div class="col-6 my-4">
      <a class="btn btn-block btn-danger py-2" href="/out">
        <h1 class="text-white display-3">
          Punch Out
        </h1>
      </a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <a class="btn btn-block btn-primary" href="/students/new">
        <h1 class="text-white">
          New Student
        </h1>
      </a>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
