<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<div class="container">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h1>Punch-In</h1>
    </div>
    <div class="col-12 text-center">
      <p class="font-italic">Scan student ID into field below, select the computer they will be using, and then press Enter or click "Punch In" button.</p>
    </div>
  </div>
  <form action="/punches" method="POST">
    <div class="form-group">
      <label for="studentId">Student ID</label>
      <input type="text" class="form-control" id="studentId" name="studentId" placeholder="Scan Student ID" required autofocus>
    </div>
    <div class="form-group">
    <label for="computerNumber">Computer Number</label>
    <select class="form-control" id="computerNumber" name="computerNumber" required>
      <option selected="true" disabled="disabled" value="">Select Computer</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="5">6</option>
      <option value="5">7</option>
      <option value="5">8</option>
    </select>
  </div>
    <input type="hidden" name='type' value='in'>
    <button type="submit" class="btn btn-block btn-success">Punch In</button>
  </form>
</div>

<%- include("partials/footer") %>
