.studentShow_editBtn {
  position: absolute;
  right: 1em;
  top: 5em;
  background-color: #28a745;
  color: #fff;
  padding: 0.8em 1.2em;
  border-radius: 10%;
}

/* Punch button sizing */
@media (max-width: 992px) {
  h1 {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem !important;
  }
}
